<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="    %d{HH:mm:ss} %-5level %-13logger{1} %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>


        <Root level="off">
            <AppenderRef ref="Console"/>
        </Root>

        <!--
       <Logger name="eu.ace_design.Island" level="off" additivity="false">
           <AppenderRef ref="Console"/>
       </Logger>
       <Logger name="eu.ace_design.Island/Mesh" level="info" additivity="false">
           <AppenderRef ref="Console"/>
       </Logger>
       <Logger name="eu.ace_design.Island/Map" level="info" additivity="false">
           <AppenderRef ref="Console"/>
       </Logger>
       <Logger name="eu.ace_design.Island/Viewer" level="off" additivity="false">
           <AppenderRef ref="Console"/>
       </Logger>
       <Logger name="eu.ace_design.Island/Board" level="off" additivity="false">
           <AppenderRef ref="Console"/>
       </Logger>
       <Logger name="*" level="off" additivity="true">
           <AppenderRef ref="Console"/>
       </Logger>
       -->
    </Loggers>
</Configuration>